* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.96);
    font-size: calc(1em + 1vw);
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* -------- */
.home-button {
    display: flex;
    justify-content: end;
    position: sticky;
    top: 10%;
}

.text-decoration-home {
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
}

.label-home::after {
    content: 'Inicio';
}

.label-home:hover:after {
    content: '/home';
    color: #ea0f1e;
    font-weight: 600;
}

.hide-text {
    visibility: hidden;
}
/* -------- */

.max-width-70 {
    max-width: 70%;
    margin: auto;
    margin-bottom: 10em;
}

.title{
    font-size: 2em;
}

.align-center {
    display: flex;
    align-items: center;
    height: 100vh;
}

.max-width-80 {
    max-width: 80%;
    margin: auto;
}

.subtitle {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.main-text {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

p {
    margin-bottom: 0.5em;
}

.button {

    position: relative;
}

.p-absolute {
    position: absolute;    
    left: 0;
}

.text-decoration {
    color: #ea0f1e;
    margin: 20px 0px;
    text-decoration: none;
}

.hover-text:hover {
    color: #ffffff;
    left: 5%;
    transition: left 0.6s;
}

.hide-text {
    visibility: hidden;
}

.label-linkedin-text::after {
    content: 'Linkedin';
}

.label-github-text::after {
    content: 'GitHub';
}

.label-instagram-text::after {
    content: 'Instagram';
}

.label-twitter-text::after {
    content: 'Twitter';
}


@media (max-width: 810px) {
    body {
        font-size: calc(1em + 1vh);
    }

    .max-width-70 {
        max-width: 85%;
        margin-bottom: 5em;
    }
    
    .max-width-80 {
        max-width: 100%;
        margin: auto;
    }
}